*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(230,230,230);
}

.topbar{
    padding: 2rem;
    font-size: 1.4vmax;
}

.topbar a{
    color: black;
    text-decoration: none;
}

.header {
    margin-top: 5vmax;
    text-align: center;
    font-size: 2vmax;
}

form {
    width: 50%;
    margin: 2vmax auto;
}

input{
    border: none;
    font-size: 1vmax;
    padding: 1vmax;
    background: rgb(180,180,180);
}

#field1{
    width: 40%;
    height: 3rem;
    margin-left: 6.5%;
    margin-top: 2vmax;
}

#field2{
    margin-top: 2vmax;
    height: 3rem;
    width: 55%;
    margin-left: 6.5%;
}

#field3{
    margin-top: 2vmax;
    height: 3rem;
    width: 25%;
    margin-left: 6.5%;
}

#field4{
    width: 87%;
    height: 3rem;
    margin-left: 6.5%;
}

button{
    padding: 1rem 2rem;
    background: #27ae60;
    margin-top: 4vmax;
    float: right;
    cursor: pointer;
    border: none;
    font-size: 1vmax;
}